# tempdir = "/tmp"
mapname = "sweden"
logfile = "${tempdir}/${mapname}-${timestamp}.log"

# If only a single .osm.pbf file is to be loaded:
# osmpbffilename = "${mapname}-latest.osm.pbf"
# If multiple .osm.pbf files shall get loaded:
osmpbffilenames = "${mapname}-latest.osm.pbf, ${mapname}-lantmateriet.osm.pbf"

# stopwordfilename = "stopwords-${mapname}.txt"
http_port = 5274
http_interface = "local"
http_public_files = "public"

@include "testsets-sweden-polisen.config"
@include "testsets-sweden-easy.config"
@include "testsets-sweden-hard.config"
@include "testsets-crossingroads.config"
@include "testsets-long.config"
