testsets4 = (
  {
    name = "Karlsborg: Södra Varvsgatan -- Västra vägen",
    latitude = 58.5386,
    longitude = 14.5015,
    text = "Södra Varvsgatan Västra vägen",
    svgoutputfilename = "${tempdir}/testset-sweden-crossing-roads-A.svg.gz"
  },
  {
    name = "Karlsborg: Såggatan -- Mellangatan",
    latitude = 58.5343,
    longitude = 14.5071,
    text = "Såggatan Mellangatan",
    svgoutputfilename = "${tempdir}/testset-sweden-crossing-roads-B.svg.gz"
  },
  {
    name = "Norrtälje: Vätövägen -- Baldersgatan",
    latitude = 59.7653,
    longitude = 18.6964,
    text = "Under vecka 28 kommer schaktarbeten utföras i korsningen Vätövägen-Baldersgatan. Schaktningen sker inför det omfattande arbete med att bland annat byta ut styrskåpet till de trasiga trafikljusen i korsningen. Förhoppningsvis bidrar denna åtgärd till att trafikljusen kommer att fungera igen under nästa vecka.",
    svgoutputfilename = "${tempdir}/testset-sweden-crossing-roads-V.svg.gz"
  },
  {
    name = "Kristinehamn: Västerlånggatan -- Norra Staketgatan",
    latitude = [59.3116, 59.3087],
    longitude = [14.1053, 14.1063],
    text = "Korsningen Västerlånggatan-Norra Staketgatan i Kristinehamn skapar problem. Högerregeln gäller men när det står en bil i varje riktning vet ingen vem som har företräde. Kommunen planerar en ombyggnation av korsningen till nästa år.
    En kommuninvånare föreslog i ett medborgarförslag att kommunen skulle sätta upp ett fyrvägsstopp som redan i dag finns i korsningen Västerlånggatan-Tegelslagargatan.
    ”Inte ens polisen kunde, då jag frågade, ge något klart besked om hur man ska bete sig”, skriver förslagsställaren, som alternativt föreslår att hela Västerlånggatan görs om till huvudled.",
    svgoutputfilename = "${tempdir}/testset-sweden-crossing-roads-W.svg.gz"
  },
  {
    name = "Nacka: Saltsjöbadsleden -- Vinterbrinksvägen",
    latitude = 59.2864,
    longitude = 18.2722,
    text = "Trafiksignalen i korsningen Saltsjöbadsleden/Vinterbrinksvägen i Saltsjöbaden är ur funktion efter att en av stolparna blivit påkörd.",
    svgoutputfilename = "${tempdir}/testset-sweden-crossing-roads-X.svg.gz"
  },
  {
    name = "Helsningborg: Mariehällsvägen och Kungshultsvägen",
    latitude = 56.088,
    longitude = 12.69,
    text = "Från slutet av oktober 2016 bygger vi om rondellen vid Mariehällsvägen och Kungshultsvägen. Arbetet påverkar både bil- och busstrafik och om allt går som planerat är det klart i mitten av december.",
    svgoutputfilename = "${tempdir}/testset-sweden-crossing-roads-Y.svg.gz"
  },
  {
    name = "Borås: Lilla Brogatan -- Allégatan",
    latitude = 57.72,
    longitude = 12.942,
    text = "Michelle Åbom Segebo bor på Lilla Brogatan i Borås och går dagligen förbi korsningen Lilla Brogatan/Allégatan. Många gånger har hon reagerat på att korsningen inte är säker. Framför allt kör bilar och bussar alldeles för fort och tar inte hänsyn till fotgängare, menar hon.
    Bakgrunden till fredagens olycka är fortfarande oklar, men Michelle är inte förvånad att det sker en olycka just där.
    – Folk kör som idioter. Jag vet inte om det är dåligt skyltat eller vad problemet är – men jag ser detta dagligen i den här korsningen. Jag har själv varit nära att bli påkörd flera gånger.
    Så sent som under torsdagen blev hennes man nästan påkörd vid övergångsstället vid apoteket. Han ringde då polisen. Även Michelle själv har kontaktat polisen om problemet vid upprepade tillfällen.
    – Senast sprang jag på några poliser på stan. Då sade de att de känner till problemet, men att de inte kan göra något förrän något händer. Så sade de till min man även i går. Jag tycker att det är ett märkligt sätt att se på det.",
    svgoutputfilename = "${tempdir}/testset-sweden-crossing-roads-Z.svg.gz"
  }
);
