testsetsA = (
  {
    name = "Polisen i Kronobergs län",
    latitude = [56.6952,56.8766],
    longitude = [13.8691,14.8133],
    text = "Polisen i Kronobergs län söker kontakt med en man som är innehavare av svenska vapenlicenser
    Med stöd av Delgivningslagen (2010:1932) - 47:e samt 48:e §§, söker Polismyndigheten, region Syd/Växjö kontakt med en man som tidigare varit folkbokförd i Hamneda i Ljungby kommun men som nu saknar känd hemvist.
    Mannen är innehavare av svenska vapenlicenser och p.g.a. detta önskar Polismyndigheten komma i kontakt med honom.
    Är du denna person eller om du kan tänkas veta var eller hur Polismyndigheten kan komma i kontakt med vederbörande, vänligen kontakta Polismyndigheten via nedan kontaktuppgifter.",
    svgoutputfilename = "${tempdir}/testset-sweden-polisen-i-kronobergs-lan.svg.gz"
  },
  {
    name = "Polismyndigheten region Stockholm",
    latitude = 59.33061,
    longitude = 18.03915,
    text = "Kungörelsedelgivning
    Polismyndigheten region Stockholm, polisområde Stockholm city söker flertalet personer som inte gått att nå via brev för underrättelse av hävt beslagtaget gods (Rättegångsbalk 27:8b§).
    Datum 2016-02-10
    Handlingarna finns tillgängliga hos Polisen i City, Beslagsreceptionen, Bergsgatan 54 Stockholm. Telefon 010-56 377 96.",
    svgoutputfilename = "${tempdir}/testset-sweden-polismyndigheten-region-stockholm.svg.gz"
  },
  {
    name = "Tingstadstunneln",
    latitude = 57.72336,
    longitude = 11.98446,
    text = "Vid Tingstadstunnelns södergående rör på Hisingen har en olycka inträffat mellan två personbilar och en buss.
    Ambulans och räddningstjänst är på väg. I nuläget är det oklart gällande personskador. Enligt uppgifter från platsen skall en bil inte längre vara körduglig, bärgare är på väg.
    Föraren till bussen är nu körd med ambulans till sjukhus, oklart skadeläge. Trafiken står stilla i väntan på bärgningsarbetet.",
    svgoutputfilename = "${tempdir}/testset-sweden-tingstadstunneln.svg.gz"
  },
  {
    name = "Sjöbo torg",
    latitude = 57.74942,
    longitude = 12.94499,
    text = "På Sjöbo torg har en man misshandlats.
    Polispatrull är på plats och får kontakt med en man som har en knivskada. Mannen som är i 25-årsåldern körs till sjukhus, oklart skadeläge.
    Polis har spärrat av ett område i anslutning till torget där teknisk undersökning kommer att genomföras. Polis med hund söker i området.
    I nuläget är ingen gripen för brottet.",
    svgoutputfilename = "${tempdir}/testset-sweden-sjobo-torg.svg.gz"
  },
  {
    name = "Valåsvägen",
    latitude = 57.58136,
    longitude = 12.09011,
    text = "På Valåsvägen kontrollerar polispatrull en kvinna som uppträder narkotikapåverkat.
    Kvinnan som är född 1992 får följa med för provtagning misstänkt för narkotikabrott eget bruk.",
    svgoutputfilename = "${tempdir}/testset-sweden-valasvagen.svg.gz"
  },
  {
    name = "Volontären Härnösand",
    latitude = [62.63365,62.62909],
    longitude = [17.96558,17.93315],
    text = "Rattfylleri, Volontären Härnösand.
    Klockan 01:13 utför polispatrull ett rutinstopp efter Volontärvägen i Härnösand.
    Föraren av aktuellt fordon, en man född -83 får lämna ett alkoholutandningsprov, som visar positivt.
    Mannen får följa med till polisstationen i Härnösand för vidare provtagning samt förhör.
    Föraren misstänks för rattfylleri, normalgraden då han blåste 0,22 promille.",
    svgoutputfilename = "${tempdir}/testset-volontaren-harnosand.svg.gz"
  },
  {
    name = "Riksväg 28 vid Rödeby",
    latitude = 56.2558,
    longitude = 15.6134,
    text = "Singelolycka, riksväg 28.
    En singelolycka inträffar på riksväg 28 vid Rödeby. Räddningstjänst, ambulans och polis skickas till platsen.",
    svgoutputfilename = "${tempdir}/testset-sweden-riksvag-28-vid-rodeby.svg.gz"
  },
  {
    name = "Spjutsbygd",
    latitude = 56.3111,
    longitude = 15.5802,
    text = "Misstänkt rattfyllerist i olycka, väg 28 , Spjutsbygd.
    Uppringare berättar att dennes personbil blivit påkörd av en annan personbil som sedan lämnat platsen.
    Föraren av den andra bilen, en man, visar sig ha stannat en bit bort från olyckan och har således inte smitit från olyckan. Föraren misstänks dock ha kört påverkad av alkolhol och tas med för vidare provtagning. Föraren misstänks även för olovlig körning och vårdslöshet i trafik.
    Inga personskador rapporteras men båda bilarna behövde bärgas på grund av skador efter olyckan.",
    svgoutputfilename = "${tempdir}/testset-sweden-spjutsbygd.svg.gz"
  },
  {
    name = "Inbrott i gammalt polishus",
    latitude = 56.44055,
    longitude = 15.36487,
    text = "Inbrott, försök, Ronneby
    Försök till inbrott i gammalt polishus, Eringsboda.
    En uppringare berättar om ett pågående inbrott i det gamla polishuset på Hotellvägen. Polis skickas till platsen och det kan konstateras att någon tagit sig in och försökt tillgripa kopparrör men lämnat platsen innan polis kommit dit. Anmälan om försök till inbrott upprättas.",
    svgoutputfilename = "${tempdir}/testset-sweden-gammalt-polishus.svg.gz"
  },
  {
    name = "Försvunnen person, Piteå",
    latitude = [65.5439, 65.4250],
    longitude = [21.9027, 21.6869],
    text = "Angående försvunnen person, Piteå
    Mannen från Rosvik är fortfarande försvunnen.
    Uppdatering kl 13.40
    Polisen har kl 13.00 organiserat sitt arbete i en sk. särskild händelse. Det beror på att insatsen kommer att kräva stora resurser samtidigt som den ordinarie verksamheten måste fungera. I den särskilda händelsen finns en stabsfunktion som har till uppgift att säkra de resurer som polisinsatschefen behöver.
    Det finns inga nya iakttagelser av mannen. Sökinsatsen ska tillsvidare fortsätta med oförminskad styrka. Sökandet sker framförallt i Måttsundsområdet. Baserat på gårdagens iakttagelser.",
    svgoutputfilename = "${tempdir}/testset-sweden-forsvunnen-person-pitea.svg.gz"
  },
  {
    name = "Vilt, Vimmerby",
    latitude = [57.7419, 58.40124],
    longitude = [15.8332, 15.62093],
    text = "Personbil och älg i olycka, väg 826, Södra Vi.
    En personbil kolliderar med en älg på väg 826 i höjd med Södra Vi. Polis, ambulans och räddningstjänst åker till platsen.
    Uppdatering: En person har förts till sjukhuset i Linköping med ambulans. Bilen har bärgats från platsen.",
    svgoutputfilename = "${tempdir}/testset-sweden-vilt-vimmerby.svg.gz"
  },
  {
    name = "Narkotikabrott, Värnamo",
    latitude = 57.1843,
    longitude = 14.0403,
    text = "Ringa narkotikabrott
    En man född -67 har påträffats i centrala Värnamo misstänkt påverkad av narkotika. Mannen har omhändertagits för provtagning misstänkt för ringa narkotikabrott.
    Mannen hemmahörande i kommunen.",
    svgoutputfilename = "${tempdir}/testset-sweden-narkotikabrott-varnamo.svg.gz"
  },
  {
    name = "Trafikbrott, Nacka",
    latitude = [59.3267, 59.33100],
    longitude = [18.3313, 18.34529],
    text = "Förare vägrade stanna på polismans tecken.
    Polisen skulle stoppa och kontrollera en personbil dess förare samt passagerare på länsväg 222 i höjd med trafikplats Insjön i riktning mot Värmdö.
    Föraren vägrade att stanna och körde in på Gamla Skärgårdsvägen. Polisen genomförde ett stopp på Gamla Skärgårdsvägen i höjd med Värmdövägen. Polisen kontrollerar nu de tre personerna som satt i personbilen.",
    svgoutputfilename = "${tempdir}/testset-sweden-trafikbrott-nacka.svg.gz"
  },
  {
    name = "Elgiganten i Vetlanda",
    latitude = [57.44278, 57.65971],
    longitude = [15.06779, 14.96137],
    text = "Stöld i butik
    2 män, båda födda -87, har gripits på Elgiganten i Vetlanda. De kändes igen av personal från en stöld för en vecka sedan då varor till ett värde av drygt 3000 kr tillgreps.
    Idag hade de med sig en preparerad väska in i butiken.
    Båda är misstänkta för stöld och förberedelse till stöld.
    Ingen av männen är hemmahörande i länet. Båda är förda till polishuset i Eksjö för förhör.",
    svgoutputfilename = "${tempdir}/testset-sweden-elgiganten-i-vetlanda.svg.gz"
  },
  {
    name = "Trafikolycka, Tanum",
    latitude = 58.7196,
    longitude = 11.3526,
    text = "På länsväg 163 i Tanumshede har en lastbil kört av vägen och ligger på sidan.
    Olyckan har skett i höjd med Vinbäck. Skador oklart. Polis på väg.
    Uppdatering kl. 15.40
    Inga personskador. Det är en dragare med släp som kört i diket.
    F.k. så uppges E6 vara tillfälligt (ev. delvis) avstängd och trafik leds genom Tanum och den olycksdrabbade vägen. Polis är på plats och dirigerar trafiken mot gamla E6 istället.
    Sanering av diesel pågår. Det är förvarande oklart när bärgningsarbetet kan starta.",
    svgoutputfilename = "${tempdir}/testset-sweden-trafikolycka-tanum.svg.gz"
  },
  {
    name = "Fotbollsfest",
    latitude = 59.2912,
    longitude = 18.0848,
    text = "En pappa och hans 12-årige son hade kommit till Stockholm för att se Hammarby möta Östersund på Tele2 Arena. När de gick tillsammans med andra supportrar över Skanstullsbron mot arenan, smällde det plötsligt till.
    – Jag hann se att något kom farande och skrek ”akta!” I nästa sekund såg jag hur min son sjönk ihop på marken, och det började ringa i öronen på mig själv, säger pappan.",
    svgoutputfilename = "${tempdir}/testset-sweden-fotbollsfest.svg.gz"
  },
  {
    name = "Inre gränskontroll förlängs",
    latitude = [55.5628, 55.5659, 55.3695, 56.0445, 55.6240],
    longitude = [12.9758, 12.9131, 13.1614, 12.6910, 13.0141],
    text = "Regeringen beslutade igår att förlänga den inre gränskontrollen ytterligare från den 9 april till och med den 8 maj 2016.
    Tillfälliga gränskontroller innebär att polisen vid några utvalda platser kontrollerar att alla personer som reser in i Sverige har rätt att resa in och vistas i landet. Gränskontrollerna utförs i Skåne vid Hyllie station, brofästet vid Lernacken, Trelleborg hamn, Helsingborgs hamn och Malmö hamn.
    För nordiska medborgare räcker det med ett giltigt körkort eller nationellt id-kort utfärdat i ett nordiskt land. För personer med uppehållstillstånd i Schengen krävs, att man förutom uppehållstillståndet, kan uppvisa giltigt pass. För medborgare från övriga länder gäller giltigt pass eller nationellt id-kort.",
    svgoutputfilename = "${tempdir}/testset-sweden-inre-granskontroll.svg.gz"
  },
  {
    name = "Mäster Danielsgatan",
    latitude = 55.59629,
    longitude = 13.01474,
    text = "En personbil kolliderar med en cykel på Mäster Danielsgatan. Bilen lämnar platsen och cyklisten är till synes oskadd. Polis och ambulans åker till platsen.",
    svgoutputfilename = "${tempdir}/testset-sweden-master-danielsgatan.svg.gz"
  },
  {
    name = "Stöld på tåg",
    latitude = [59.7462, 59.6172, 59.4819]
    longitude = [17.7731, 17.8535, 17.9235],
    text = "En man på tåget mellan Stockholm-Uppsala vaknade av att någon försökte ta hans mobiltelefon från honom. När patrullen möter upp tåget grips tre ynglingar för det brottet och ytterliggare en stöld på tåget. I samband med gripandet gör en av ynglingarna motstånd och misstänks därför även för försök till våld mot tjänsteman. Ynglingarna visar sig vid kontroll vara mellan 12 och 14 år och överlämnas därför till socialtjänsten.",
    svgoutputfilename = "${tempdir}/testset-sweden-stold-pa-tag.svg.gz"
  },
  {
    name = "Allvarlig arbetsplatsolycka",
    latitude = 65.5600,
    longitude = 22.2215,
    text = "Arbetsplatsolycka, Luleå
    En allvarlig arbetsplatsolycka har skett på SSAB Tunnplåt AB vid 14 tiden idag. Räddningstjänst och polis kallades till platsen. En 55 årig man har avlidit efter att på något sätt ha blivit fastklämd.
    Utredningen pågår med förhör av vittnen samt polisens tekniker undersöker på plats omständigheterna kring olyckan. Anhöriga till den avlidne har underättats. Anmälan är upprättad gällande vållande till annans död som är kopplat till arbetsplatsolyckan / arbetsmiljöbrott.",
    svgoutputfilename = "${tempdir}/testset-sweden-allvarlig-arbetsplatsolycka.svg.gz"
  },
  {
    name = "Norsk registrerad bil",
    latitude = 66.3893,
    longitude = 23.6569,
    text = "Polisen Övertorneå stoppade en norsk registrerad bil för kontroll. Passageraren visade tecken på att vara påverkad av narkotika och fick följa med för provtagning. Den mt är en man född -89.",
    svgoutputfilename = "${tempdir}/testset-sweden-norsk-registrerad-bil.svg.gz"
  },
  {
    name = "ICA Maxi i Hemlingby",
    latitude = 60.64678,
    longitude = 17.14712,
    text = "En 21-årig man är misstänkt för snatteri efter att ha tillgripit varor för 199 kr på ICA Maxi i Hemlingby. Mannen hämtades till förhör men frigavs därefter.",
    svgoutputfilename = "${tempdir}/testset-sweden-ica-maxi-i-hemlingby.svg.gz"
  },
  {
    name = "Motorcykel i olycka, Hamngatan",
    latitude = 56.16559,
    longitude = 14.86718,
    text = "Motorcykel i olycka, Hamngatan.
    En motorcykel kolliderar med en parkerad bil på Hamngatan. Skadeläget är oklart. Polis och ambulans åker till platsen.
    Organisation
    Polisen Blekinge",
    svgoutputfilename = "${tempdir}/testset-sweden-motorcykel-hamngatan.svg.gz"
  },
  {
    name = "Fjällräddning",
    latitude = 67.1311,
    longitude = 20.6853,
    text = "Ambulanshelikopter med läkare samt polisens fjällräddare ryckte i eftermiddag ut till ett skoterspår ca 5 km från Riksgränsen för att undsätta en man i 30-årsålder som kört på något med sin skoter och skadat ryggen.
    Mannen hade sällskap med en kamrat som var den som larmade SOS. En ambulanshelikopter flög från Gällivare och fjällräddare från Abisko ryckte ut till platsen. Innan fjällräddare var på plats hade helikoptern kommit till platsen och en läkare kunde undersöka mannen som sedan lastades i helikopter och flögs till väntande ambulans.
    Ambulansen kommer att föra mannen till Gällivare sjukhus. I nuläget är det okänt hur pass allvarligt skadad mannen är är. Olyckan kom till polisens kännedom klockan 15.28 genom SOS Alarm.",
    svgoutputfilename = "${tempdir}/testset-sweden-fjallraddning.svg.gz"
  }
);
