testsets = (
  {
    name = "Skövde tingsrätt"
    latitude = 58.38662
    longitude = 13.84676
    text = "Skaraborgs tingsrätt förbereder inför rättegången mot den mordmisstänkte 35-åringen. En del i förberedelserna är en begäran om att få en personutredning på den misstänkte.",
    svgoutputfilename = "${tempdir}/testset-sweden-skovde-tingsratt.svg.gz"
  },
  {
    name = "Travbanan Axvall"
    latitude = 58.3995
    longitude = 13.56546
    text = "På travbanan i Axvall vill man samla alla hästutbildningar i regionen.",
    svgoutputfilename = "${tempdir}/testset-sweden-travbanan-axvall.svg.gz"
  },
  {
    name = "Trandögatan Borås",
    latitude = 57.71137,
    longitude = 12.94381,
    text = "Bilkapare hotade kvinna med hammare. En kvinna rånades på sin bil under hot i Borås. En kvinna råkade ut för en bilkapare på Trandögatan i Borås vid halv åttatiden på fredagsmorgonen.",
    svgoutputfilename = "${tempdir}/testset-sweden-trandogatan-boras.svg.gz"
  },
  {
    name = "Handgranatattacken",
    latitude = 59.20056
    longitude = 17.83431,
    text = "En 18-årig man har häktats på sannolika skäl misstänkt för försök till mord efter handgranatattacken mot en polisbuss i Tumba söder om Stockholm i augusti. Han häktades också misstänkt för grovt rån och grovt vapenbrott i oktober.",
    svgoutputfilename = "${tempdir}/testset-sweden-handgranatattacken.svg.gz"
  },
  {
    name = "Tillsatsfria butik",
    latitude = 55.59689,
    longitude = 13.00128,
    text = "Sveriges första helt tillsatsfria butik finns i Malmö -- i en källarlokal vid Triangeln. Här hos Ola & ko säljer man allt från jordnötssmör till korvar och charkuterier från lokala producenter. Men affärsidén är lite motsägelsefull.",
    svgoutputfilename = "${tempdir}/testset-sweden-tillsatsfria-butik.svg.gz"
  },
  {
    name = "Arjeplog",
    latitude = 66.05177,
    longitude = 17.89168,
    text = "Norrbottens landshövding Sven-Erik Österberg står som värd för besöket i Arjeplog.",
    svgoutputfilename = "${tempdir}/testset-sweden-arjeplog.svg.gz"
  },
  {
    name = "Mittuniversitetet",
    latitude = 62.39299,
    longitude = 17.28485,
    text = "Konferensen Science & Innovation Day är en ny mötesplats i Sundsvall för näringsliv och forskare. Den ska underlätta för regionens företag att komma i kontakt med forskning och hitta nya utvecklingsmöjligheter.",
    svgoutputfilename = "${tempdir}/testset-sweden-mittuniversitet.svg.gz"
  },
  {
    name = "Nossebro",
    latitude = 58.1892,
    longitude = 12.7269,
    text = "En man i 30-årsåldern skadades allvarligt och fick föras till sjukhus med ambulanshelikopter efter en kollision mellan två bilar på länsväg 186 i närheten av Nossebro.",
    svgoutputfilename = "${tempdir}/testset-sweden-nossebro.svg.gz"
  },
  {
    name = "Selaön",
    latitude = 59.4,
    longitude = 17.2,
    text = "Selaön är en ö i västra Mälaren i den nordöstra delen av Strängnäs kommun i Södermanland, Södermanlands län. Ön delas mellan Ytterselö och Överselö socknar och är med sina 95 km² Sveriges största insjö-ö.",
    svgoutputfilename = "${tempdir}/testset-sweden-selaon.svg.gz"
  },
  {
    name = "Polis avliden i tjänsten",
    latitude = 64.0889,
    longitude = 18.3848,
    text = "En polis avled i tjänsten vid en trafikolycka under natten mot den 5 november. Utryckningsfordonet polisen färdades i körde av väg 591, ned i Viskasjön vid Fredrika i Västerbotten.",
    svgoutputfilename = "${tempdir}/testset-sweden-polis-avliden.svg.gz"
  },
  {
    name = "Skövdeforskare",
    latitude = 58.39367,
    longitude = 13.85784,
    text = "Anna-Sofia Alklind Taylor heter årets mottagare av Skaraborgs Akademis pris som går till den doktorsavhandling vid Högskolan i Skövde som bäst förtjänar särskild uppmärksamhet. Anna-Sofia, som är lektor i datavetenskap, fick ta emot priset vid torsdagens populärvetenskapliga café på Högskolan.",
    svgoutputfilename = "${tempdir}/testset-sweden-skovdeforskare.svg.gz"
  },
  {
    name = "Assistenter från Syrien",
    latitude = 58.34224,
    longitude = 12.35885,
    text = "På bara några veckor skapade asylprövningsenheten i Vänersborg en tillfällig ansökningsfunktion. De fem assistenterna har en annorlunda bakgrund. De höll på med sitt etableringsprogram när Migrationsverket hörde av sig till Arbetsförmedling i slutet av september.",
    svgoutputfilename = "${tempdir}/testset-sweden-assistenter-syrien.svg.gz"
  },
  {
    name = "Dromedaren",
    latitude = 57.8400,
    longitude = 13.4410,
    text = "En lastbil krockade med vad chauffören tror var en kamel eller dromedar på väg 46 mellan Ulricehamn och Timmele. Dromedaren försvann från platsen. Det var vid femtiden i morse som den ovanliga anmälan kom in till polisen. En lastbil hade krockat med dromedaren och vindrutan hade gått sönder.",
    svgoutputfilename = "${tempdir}/testset-sweden-dromedaren.svg.gz"
  },
  {
    name = "Bron vid Marieholm",
    latitude = 57.72856,
    longitude = 11.99367,
    text = "I skuggan av de heta diskussionerna om en ny central bilbro i Göteborg invigdes i dag tåg- och cykelbron vid Marieholm. Den stora vinsten med den nya bron över Göta älv är att den ger tågtrafiken dubbla spår. Detta innebär i sin tur ökad tillgänglighet och minskad sårbarhet för godstransporter på järnväg till och från Göteborgs hamn.",
    svgoutputfilename = "${tempdir}/testset-sweden-bron-vid-marieholm.svg.gz"
  },
  {
    name = "Vapenfri jaktutbildning",
    latitude = 56.8617,
    longitude = 14.1743,
    text = "Ryssbygymnasiet i Ljungby kan tvingas ändra upplägget på sin jaktutbildning. Skolverket hänvisar till skolskjutningar. Skolverket håller just nu på att göra en översyn av utbildningar med fokus på natur. Bland annat föreslås att jakt ska utgå som ämne vid natur- och viltvårdsutbildningar.",
    svgoutputfilename = "${tempdir}/testset-sweden-vapenfri-jaktutbildning.svg.gz"
  },
  {
    name = "Hyreslägenheter",
    latitude = 59.38244,
    longitude = 13.50468,
    text = "Karlstads kommunala bostadsbolag, KBAB ökar kontrollen av sina hyresgäster efter misstänkt fusk med arbetsgivarintyg och olovlig uthyrning i andra hand. Även om det inte finns några konkreta bevis misstänker man att det förekommer svarthandel med hyreslägenheter. – Vi kommer in i lägenheter där inte rätt person bor och det händer mer och mer, säger Mats Hedlund koordinator på KBAB.",
    svgoutputfilename = "${tempdir}/testset-sweden-hyreslägenheter.svg.gz"
  },
  {
    name = "Arbetslösa ungdomar",
    latitude = 58.53703,
    longitude = 15.03718,
    text = "Arbetslösa ungdomar i Motala ska få särskild hjälp att hitta arbete. Nu startas Ungkomp som är ett projekt för snabba insatser utifrån ungdomarnas behov. Arbetsförmedlingen och Motala kommun står bakom satsningen. Ungkomp är ett ESF-projektet som finns på flera håll i landet och i april drar det igång i Motala. – Ungkomp har gett bra resultat på andra orter och vi tror mycket på ett utökat och nära samarbete mellan Motala kommun och Arbetsförmedlingen, säger Camilla Egberth (S), kommunstyrelsens ordförande i Motala kommun i ett pressmeddelande.
    Långt ifrån jobb
    Arbetet i Ungkomp är organiserat i multikompetenta team som består av olika yrkesfunktioner från Arbetsförmedlingen och kommunen. Teamet är lättillgängligt, sitter tillsammans och har ett tätt samarbete med deltagaren i fokus. Projektet riktar sig till ungdomar som står långt från arbetsmarknaden. De ska på ett enkelt sätt få kontakt med allt vad Arbetsförmedlingen och kommunen har att erbjuda för att hjälpa dem till arbete eller studier.
    Högst ungdomsarbetslöshet
    – Ungdomsarbetslösheten i Motala är högst i länet och det här projektet är ett led i arbetet med att sänka arbetslösheten bland ungdomar, säger Per Engdahl, tf arbetsförmedlingschef i Motala i ett pressmeddelande.
    I juni nästa år avslutas projektet och ska sedan utvärderas.",
    svgoutputfilename = "${tempdir}/testset-sweden-arbetslösa-ungdomar.svg.gz"
  },
  {
    name = "Svarthandeln med kontrakt",
    latitude = [55.6375, 56.0446],
    longitude = [13.0793, 12.7414],
    text = "Den stora bristen på bostäder i Sverige gör att handeln med svarta hyreskontrakt ökar. Och det är inte längre enbart ett storstadsfenomen – även i mindre städer och på landsbygden pågår nu en svarthandel med både lägenheter och hus.
    Rasme Mohammad och hans familj kommer från Syrien. De bor tillfälligt i en lägenhet som kommunen har ordnat i Arlöv utanför Malmö, men där kan de inte bo kvar.
    Familjen har tre barn och står i bostadskö hos flera hyresvärdar runt om i Skåne. Nu har de fått löfte om en lägenhet i Helsingborg som de planerar att flytta till senare i vår, men i jakten på ett boende har de även blivit erbjudna svartkontakt.
    – De säger att det finns lägenheter men du måste betala under bordet. Om du vill ha en lägenhet i första hand måste du betala 40.000 kronor, berättar Rasme och tillägger:
    – Det vill jag inte göra. Det är inte bra och jag har inte pengarna.",
    svgoutputfilename = "${tempdir}/testset-sweden-svarthandeln-med-kontrakt.svg.gz"
  },
  {
    name = "Bil slungades",
    latitude = 63.1681,
    longitude = 14.6562,
    text = "En trafikolycka har inträffat i centrala Östersund. Två bilar har kolliderat och en person har förts till sjukhus.
    Olyckan inträffade vid 08.20 på Skolgatan i Östersund. Enligt SOS var det två personbilar som krockade. En person fick föras med ambulans till sjukhus.
    Totalt var det två personer som var inblandade i olyckan.
    – Det var en sidokollision. Den ena bilen åkte in i en hyresfastighet. Det blev skador på fastigheten och på båda bilarna, säger Mats Kronsten, inre befäl på räddningstjänsten till SVT Nyheter Jämtland.
    – En person bötfälldes på plats för att ha missat väjningsplikten, säger Hans Engqvist, vakthavande befäl hos polisen.
    Personen som fördes till sjukhus ska ha lättare skador enligt polisen.",
    svgoutputfilename = "${tempdir}/testset-sweden-bil-slungades.svg.gz"
  },
  {
    name = "Kulturskolor",
    latitude = [57.1652, 56.4591, 56.4121, 56.6300],
    longitude = [16.0263, 13.5928, 16.0033, 15.5400],
    text = "Flera kommuner i Småland har ingen kulturskola alls, medan andra kommuner erbjuder lektioner i de flesta instrument och konstarter.
    Vill du att dina barn ska lära sig spela piano eller kanske trumpet? Då ska du vara noga med var du bosätter dig.
    Tre kommuner i Kalmar och Kronobergs län har ingen kulturskola alls. Det är Högsby, Markaryd och Torsås. Övriga kommuner erbjuder lektioner på sina musik- eller kulturskolor, men det är stora skillnader i utbudet av kurser.
    – Det är ett fattigdomsbevis att vi inte har någon musikskola i Högsby, säger en av de anställda som arbetar med kulturfrågor i Högsby kommun.
    Studieförbund
    Som plåster på såren erbjuds istället lite musikkurser via studieförbund i Högsby och Markaryd.
    I Torsås kommun gör man nu en satsning på att starta en mindre musikskola till hösten.
    Samma sak händer i Markaryd, men där flyttar man bara ansvaret för musikundervisningen från studieförbundet till kommunen. Budgeten är fortsatt den samma.
    Emmaboda som har nästan lika många invånare som Markaryd har däremot en levande kulturskola sedan många år. I Lärarförbundets årliga ranking av musik- och kulturskolekommuner hamnar Emmaboda på topp 25 av Sveriges 290 kommuner de senaste åren.",
    svgoutputfilename = "${tempdir}/testset-sweden-kulturskolor.svg.gz"
  },
  {
    name = "Knark- och vapentillslag",
    latitude = [58.0527, 57.7078],
    longitude = [11.9377, 11.9722],
    text = "Två män sitter häktade misstänkta för grovt narkotikabrott och grovt vapenbrott efter flera tillslag i Bohuslän och Göteborg. Vid tillslagen hittades både kokain och vapen.
    – Polisen har haft spaning en längre tid och gjorde i förra veckan iakttagelser som innebar att misstankarna blev så starka att man agerade, säger kammaråklagare Peter Larsson vid Internationella åklagarkammaren i Göteborg.
    Tillslagen gjordes mot en gård i Stenungsund och på flera adresser i Göteborg förra veckan. I påskhelgen häktades två män i 40-årsåldern vid Göteborgs tingsrätt.
    – Jag vill inte gå in på den exakta mängden narkotika, men det är betydligt mer än ett halvt kilo kokain. När det gäller vapnen rör det sig om flera gevär och en pistol, säger Peter Larsson, kammaråklagare.
    Även två kvinnor är misstänkta i ärendet, men åklagaren säger att misstankarna är svagare mot dem och de är inte frihetsberövade. Utredningen går nu vidare, bland annat med ta reda på vad vapnen skulle användas till.",
    svgoutputfilename = "${tempdir}/testset-sweden-Knark-och-vapentillslag.svg.gz"
  }
);
