testsets2 = (
  {
    name = "Selaön",
    latitude = 59.4,
    longitude = 17.2,
    text = "Selaön är en ö i västra Mälaren i den nordöstra delen av Strängnäs kommun i Södermanland, Södermanlands län. Ön delas mellan Ytterselö och Överselö socknar och är med sina 95 km² Sveriges största insjö-ö.",
    svgoutputfilename = "${tempdir}/testset-sweden-selaon.svg.gz"
  },
  {
    name = "Assistenter från Syrien",
    latitude = 58.34224,
    longitude = 12.35885,
    text = "På bara några veckor skapade asylprövningsenheten i Vänersborg en tillfällig ansökningsfunktion. De fem assistenterna har en annorlunda bakgrund. De höll på med sitt etableringsprogram när Migrationsverket hörde av sig till Arbetsförmedling i slutet av september.",
    svgoutputfilename = "${tempdir}/testset-sweden-assistenter-syrien.svg.gz"
  },
  {
    name = "Bron vid Marieholm",
    latitude = 57.72856,
    longitude = 11.99367,
    text = "I skuggan av de heta diskussionerna om en ny central bilbro i Göteborg invigdes i dag tåg- och cykelbron vid Marieholm. Den stora vinsten med den nya bron över Göta älv är att den ger tågtrafiken dubbla spår. Detta innebär i sin tur ökad tillgänglighet och minskad sårbarhet för godstransporter på järnväg till och från Göteborgs hamn.",
    svgoutputfilename = "${tempdir}/testset-sweden-bron-vid-marieholm.svg.gz"
  },
  {
    name = "Vapenfri jaktutbildning",
    latitude = 56.8617,
    longitude = 14.1743,
    text = "Ryssbygymnasiet i Ljungby kan tvingas ändra upplägget på sin jaktutbildning. Skolverket hänvisar till skolskjutningar. Skolverket håller just nu på att göra en översyn av utbildningar med fokus på natur. Bland annat föreslås att jakt ska utgå som ämne vid natur- och viltvårdsutbildningar.",
    svgoutputfilename = "${tempdir}/testset-sweden-vapenfri-jaktutbildning.svg.gz"
  },
  {
    name = "Hyreslägenheter",
    latitude = 59.38244,
    longitude = 13.50468,
    text = "Karlstads kommunala bostadsbolag, KBAB ökar kontrollen av sina hyresgäster efter misstänkt fusk med arbetsgivarintyg och olovlig uthyrning i andra hand. Även om det inte finns några konkreta bevis misstänker man att det förekommer svarthandel med hyreslägenheter. – Vi kommer in i lägenheter där inte rätt person bor och det händer mer och mer, säger Mats Hedlund koordinator på KBAB.",
    svgoutputfilename = "${tempdir}/testset-sweden-hyreslägenheter.svg.gz"
  },
  {
    name = "Svarthandeln med kontrakt",
    latitude = [55.6375, 56.0446],
    longitude = [13.0793, 12.7414],
    text = "Den stora bristen på bostäder i Sverige gör att handeln med svarta hyreskontrakt ökar. Och det är inte längre enbart ett storstadsfenomen – även i mindre städer och på landsbygden pågår nu en svarthandel med både lägenheter och hus.
    Rasme Mohammad och hans familj kommer från Syrien. De bor tillfälligt i en lägenhet som kommunen har ordnat i Arlöv utanför Malmö, men där kan de inte bo kvar.
    Familjen har tre barn och står i bostadskö hos flera hyresvärdar runt om i Skåne. Nu har de fått löfte om en lägenhet i Helsingborg som de planerar att flytta till senare i vår, men i jakten på ett boende har de även blivit erbjudna svartkontakt.
    – De säger att det finns lägenheter men du måste betala under bordet. Om du vill ha en lägenhet i första hand måste du betala 40.000 kronor, berättar Rasme och tillägger:
    – Det vill jag inte göra. Det är inte bra och jag har inte pengarna.",
    svgoutputfilename = "${tempdir}/testset-sweden-svarthandeln-med-kontrakt.svg.gz"
  },
  {
    name = "Kulturskolor",
    latitude = [57.1652, 56.4591, 56.4121, 56.6300],
    longitude = [16.0263, 13.5928, 16.0033, 15.5400],
    text = "Flera kommuner i Småland har ingen kulturskola alls, medan andra kommuner erbjuder lektioner i de flesta instrument och konstarter.
    Vill du att dina barn ska lära sig spela piano eller kanske trumpet? Då ska du vara noga med var du bosätter dig.
    Tre kommuner i Kalmar och Kronobergs län har ingen kulturskola alls. Det är Högsby, Markaryd och Torsås. Övriga kommuner erbjuder lektioner på sina musik- eller kulturskolor, men det är stora skillnader i utbudet av kurser.
    – Det är ett fattigdomsbevis att vi inte har någon musikskola i Högsby, säger en av de anställda som arbetar med kulturfrågor i Högsby kommun.
    Studieförbund
    Som plåster på såren erbjuds istället lite musikkurser via studieförbund i Högsby och Markaryd.
    I Torsås kommun gör man nu en satsning på att starta en mindre musikskola till hösten.
    Samma sak händer i Markaryd, men där flyttar man bara ansvaret för musikundervisningen från studieförbundet till kommunen. Budgeten är fortsatt den samma.
    Emmaboda som har nästan lika många invånare som Markaryd har däremot en levande kulturskola sedan många år. I Lärarförbundets årliga ranking av musik- och kulturskolekommuner hamnar Emmaboda på topp 25 av Sveriges 290 kommuner de senaste åren.",
    svgoutputfilename = "${tempdir}/testset-sweden-kulturskolor.svg.gz"
  },
  {
    name = "Knark- och vapentillslag",
    latitude = [58.0527, 57.7078],
    longitude = [11.9377, 11.9722],
    text = "Två män sitter häktade misstänkta för grovt narkotikabrott och grovt vapenbrott efter flera tillslag i Bohuslän och Göteborg. Vid tillslagen hittades både kokain och vapen.
    – Polisen har haft spaning en längre tid och gjorde i förra veckan iakttagelser som innebar att misstankarna blev så starka att man agerade, säger kammaråklagare Peter Larsson vid Internationella åklagarkammaren i Göteborg.
    Tillslagen gjordes mot en gård i Stenungsund och på flera adresser i Göteborg förra veckan. I påskhelgen häktades två män i 40-årsåldern vid Göteborgs tingsrätt.
    – Jag vill inte gå in på den exakta mängden narkotika, men det är betydligt mer än ett halvt kilo kokain. När det gäller vapnen rör det sig om flera gevär och en pistol, säger Peter Larsson, kammaråklagare.
    Även två kvinnor är misstänkta i ärendet, men åklagaren säger att misstankarna är svagare mot dem och de är inte frihetsberövade. Utredningen går nu vidare, bland annat med ta reda på vad vapnen skulle användas till.",
    svgoutputfilename = "${tempdir}/testset-sweden-Knark-och-vapentillslag.svg.gz"
  }
);
