testsets = (
  {
    name = "Skövde tingsrätt"
    latitude = 58.38662
    longitude = 13.84676
    text = "Skaraborgs tingsrätt förbereder inför rättegången mot den mordmisstänkte 35-åringen. En del i förberedelserna är en begäran om att få en personutredning på den misstänkte.",
    svgoutputfilename = "/tmp/tesetset-sweden-skovde-tingsratt.svg"
  },
  {
    name = "Travbanan Axvall"
    latitude = 58.3884
    longitude = 13.5728
    text = "På travbanan i Axvall vill man samla alla hästutbildningar i regionen.",
    svgoutputfilename = "/tmp/tesetset-sweden-travbanan-axvall.svg"
  },
  {
    name = "Trandögatan Borås",
    latitude = 57.71137,
    longitude = 12.94381,
    text = "Bilkapare hotade kvinna med hammare. En kvinna rånades på sin bil under hot i Borås. En kvinna råkade ut för en bilkapare på Trandögatan i Borås vid halv åttatiden på fredagsmorgonen.",
    svgoutputfilename = "/tmp/tesetset-sweden-trandogatan-boras.svg"
  },
  {
    name = "Handgranatattacken",
    latitude = 59.20056
    longitude = 17.83431,
    text = "En 18-årig man har häktats på sannolika skäl misstänkt för försök till mord efter handgranatattacken mot en polisbuss i Tumba söder om Stockholm i augusti. Han häktades också misstänkt för grovt rån och grovt vapenbrott i oktober.",
    svgoutputfilename = "/tmp/tesetset-sweden-handgranatattacken.svg"
  },
  {
    name = "Tillsatsfria butik",
    latitude = 55.59689,
    longitude = 13.00128,
    text = "Sveriges första helt tillsatsfria butik finns i Malmö -- i en källarlokal vid Triangeln. Här hos Ola & ko säljer man allt från jordnötssmör till korvar och charkuterier från lokala producenter. Men affärsidén är lite motsägelsefull.",
    svgoutputfilename = "/tmp/tesetset-sweden-tillsatsfria-butik.svg"
  },
  {
    name = "Arjeplog",
    latitude = 66.05177,
    longitude = 17.89168,
    text = "Norrbottens landshövding Sven-Erik Österberg står som värd för besöket i Arjeplog.",
    svgoutputfilename = "/tmp/tesetset-sweden-arjeplog.svg"
  },
  {
    name = "Mittuniversitetet",
    latitude = 62.39299,
    longitude = 17.28485,
    text = "Konferensen Science & Innovation Day är en ny mötesplats i Sundsvall för näringsliv och forskare. Den ska underlätta för regionens företag att komma i kontakt med forskning och hitta nya utvecklingsmöjligheter.",
    svgoutputfilename = "/tmp/tesetset-sweden-mittuniversitet.svg"
  },
  {
    name = "Nossebro",
    latitude = 58.1892,
    longitude = 12.7269,
    text = "En man i 30-årsåldern skadades allvarligt och fick föras till sjukhus med ambulanshelikopter efter en kollision mellan två bilar på länsväg 186 i närheten av Nossebro.",
    svgoutputfilename = "/tmp/tesetset-sweden-nossebro.svg"
  },
  {
    name = "Selaön",
    latitude = 59.4,
    longitude = 17.2,
    text = "Selaön är en ö i västra Mälaren i den nordöstra delen av Strängnäs kommun i Södermanland, Södermanlands län. Ön delas mellan Ytterselö och Överselö socknar och är med sina 95 km² Sveriges största insjö-ö.",
    svgoutputfilename = "/tmp/tesetset-sweden-selaon.svg"
  },
  {
    name = "Polis avliden i tjänsten",
    latitude = 64.0889,
    longitude = 18.3848,
    text = "En polis avled i tjänsten vid en trafikolycka under natten mot den 5 november. Utryckningsfordonet polisen färdades i körde av väg 591, ned i Viskasjön vid Fredrika i Västerbotten.",
    svgoutputfilename = "/tmp/tesetset-sweden-polis-avliden.svg"
  },
  {
    name = "Skövdeforskare",
    latitude = 58.39367,
    longitude = 13.85784,
    text = "Anna-Sofia Alklind Taylor heter årets mottagare av Skaraborgs Akademis pris som går till den doktorsavhandling vid Högskolan i Skövde som bäst förtjänar särskild uppmärksamhet. Anna-Sofia, som är lektor i datavetenskap, fick ta emot priset vid torsdagens populärvetenskapliga café på Högskolan.",
    svgoutputfilename = "/tmp/tesetset-sweden-skovdeforskare.svg"
  },
  {
    name = "Assistenter från Syrien",
    latitude = 58.34224,
    longitude = 12.35885,
    text = "På bara några veckor skapade asylprövningsenheten i Vänersborg en tillfällig ansökningsfunktion. De fem assistenterna har en annorlunda bakgrund. De höll på med sitt etableringsprogram när Migrationsverket hörde av sig till Arbetsförmedling i slutet av september.",
    svgoutputfilename = "/tmp/tesetset-sweden-assistenter-syrien.svg"
  }
);
