testsets1 = (
  {
    name = "Arjeplog",
    latitude = 66.05177,
    longitude = 17.89168,
    text = "Norrbottens landshövding Sven-Erik Österberg står som värd för besöket i Arjeplog.",
    svgoutputfilename = "${tempdir}/testset-sweden-arjeplog.svg.gz"
  },
  {
    name = "Mittuniversitetet",
    latitude = 62.39299,
    longitude = 17.28485,
    text = "Konferensen Science & Innovation Day är en ny mötesplats i Sundsvall för näringsliv och forskare. Den ska underlätta för regionens företag att komma i kontakt med forskning och hitta nya utvecklingsmöjligheter.",
    svgoutputfilename = "${tempdir}/testset-sweden-mittuniversitet.svg.gz"
  },
  {
    name = "Skövde tingsrätt"
    latitude = 58.38662
    longitude = 13.84676
    text = "Skaraborgs tingsrätt förbereder inför rättegången mot den mordmisstänkte 35-åringen. En del i förberedelserna är en begäran om att få en personutredning på den misstänkte.",
    svgoutputfilename = "${tempdir}/testset-sweden-skovde-tingsratt.svg.gz"
  },
  {
    name = "Travbanan Axvall"
    latitude = 58.3995
    longitude = 13.56546
    text = "På travbanan i Axvall vill man samla alla hästutbildningar i regionen.",
    svgoutputfilename = "${tempdir}/testset-sweden-travbanan-axvall.svg.gz"
  },
  {
    name = "Trandögatan Borås",
    latitude = 57.71137,
    longitude = 12.94381,
    text = "Bilkapare hotade kvinna med hammare. En kvinna rånades på sin bil under hot i Borås. En kvinna råkade ut för en bilkapare på Trandögatan i Borås vid halv åttatiden på fredagsmorgonen.",
    svgoutputfilename = "${tempdir}/testset-sweden-trandogatan-boras.svg.gz"
  },
  {
    name = "Handgranatattacken",
    latitude = 59.20056
    longitude = 17.83431,
    text = "En 18-årig man har häktats på sannolika skäl misstänkt för försök till mord efter handgranatattacken mot en polisbuss i Tumba söder om Stockholm i augusti. Han häktades också misstänkt för grovt rån och grovt vapenbrott i oktober.",
    svgoutputfilename = "${tempdir}/testset-sweden-handgranatattacken.svg.gz"
  },
  {
    name = "Tillsatsfria butik",
    latitude = 55.59689,
    longitude = 13.00128,
    text = "Sveriges första helt tillsatsfria butik finns i Malmö -- i en källarlokal vid Triangeln. Här hos Ola & ko säljer man allt från jordnötssmör till korvar och charkuterier från lokala producenter. Men affärsidén är lite motsägelsefull.",
    svgoutputfilename = "${tempdir}/testset-sweden-tillsatsfria-butik.svg.gz"
  },
  {
    name = "Nossebro",
    latitude = 58.1892,
    longitude = 12.7269,
    text = "En man i 30-årsåldern skadades allvarligt och fick föras till sjukhus med ambulanshelikopter efter en kollision mellan två bilar på länsväg 186 i närheten av Nossebro.",
    svgoutputfilename = "${tempdir}/testset-sweden-nossebro.svg.gz"
  },
  {
    name = "Polis avliden i tjänsten",
    latitude = 64.0889,
    longitude = 18.3848,
    text = "En polis avled i tjänsten vid en trafikolycka under natten mot den 5 november. Utryckningsfordonet polisen färdades i körde av väg 591, ned i Viskasjön vid Fredrika i Västerbotten.",
    svgoutputfilename = "${tempdir}/testset-sweden-polis-avliden.svg.gz"
  },
  {
    name = "Skövdeforskare",
    latitude = 58.39367,
    longitude = 13.85784,
    text = "Anna-Sofia Alklind Taylor heter årets mottagare av Skaraborgs Akademis pris som går till den doktorsavhandling vid Högskolan i Skövde som bäst förtjänar särskild uppmärksamhet. Anna-Sofia, som är lektor i datavetenskap, fick ta emot priset vid torsdagens populärvetenskapliga café på Högskolan.",
    svgoutputfilename = "${tempdir}/testset-sweden-skovdeforskare.svg.gz"
  },
  {
    name = "Dromedaren",
    latitude = 57.8400,
    longitude = 13.4410,
    text = "En lastbil krockade med vad chauffören tror var en kamel eller dromedar på väg 46 mellan Ulricehamn och Timmele. Dromedaren försvann från platsen. Det var vid femtiden i morse som den ovanliga anmälan kom in till polisen. En lastbil hade krockat med dromedaren och vindrutan hade gått sönder.",
    svgoutputfilename = "${tempdir}/testset-sweden-dromedaren.svg.gz"
  },
  {
    name = "Arbetslösa ungdomar",
    latitude = 58.53703,
    longitude = 15.03718,
    text = "Arbetslösa ungdomar i Motala ska få särskild hjälp att hitta arbete. Nu startas Ungkomp som är ett projekt för snabba insatser utifrån ungdomarnas behov. Arbetsförmedlingen och Motala kommun står bakom satsningen. Ungkomp är ett ESF-projektet som finns på flera håll i landet och i april drar det igång i Motala. – Ungkomp har gett bra resultat på andra orter och vi tror mycket på ett utökat och nära samarbete mellan Motala kommun och Arbetsförmedlingen, säger Camilla Egberth (S), kommunstyrelsens ordförande i Motala kommun i ett pressmeddelande.
    Långt ifrån jobb
    Arbetet i Ungkomp är organiserat i multikompetenta team som består av olika yrkesfunktioner från Arbetsförmedlingen och kommunen. Teamet är lättillgängligt, sitter tillsammans och har ett tätt samarbete med deltagaren i fokus. Projektet riktar sig till ungdomar som står långt från arbetsmarknaden. De ska på ett enkelt sätt få kontakt med allt vad Arbetsförmedlingen och kommunen har att erbjuda för att hjälpa dem till arbete eller studier.
    Högst ungdomsarbetslöshet
    – Ungdomsarbetslösheten i Motala är högst i länet och det här projektet är ett led i arbetet med att sänka arbetslösheten bland ungdomar, säger Per Engdahl, tf arbetsförmedlingschef i Motala i ett pressmeddelande.
    I juni nästa år avslutas projektet och ska sedan utvärderas.",
    svgoutputfilename = "${tempdir}/testset-sweden-arbetslösa-ungdomar.svg.gz"
  },
  {
    name = "Bil slungades",
    latitude = 63.1681,
    longitude = 14.6562,
    text = "En trafikolycka har inträffat i centrala Östersund. Två bilar har kolliderat och en person har förts till sjukhus.
    Olyckan inträffade vid 08.20 på Skolgatan i Östersund. Enligt SOS var det två personbilar som krockade. En person fick föras med ambulans till sjukhus.
    Totalt var det två personer som var inblandade i olyckan.
    – Det var en sidokollision. Den ena bilen åkte in i en hyresfastighet. Det blev skador på fastigheten och på båda bilarna, säger Mats Kronsten, inre befäl på räddningstjänsten till SVT Nyheter Jämtland.
    – En person bötfälldes på plats för att ha missat väjningsplikten, säger Hans Engqvist, vakthavande befäl hos polisen.
    Personen som fördes till sjukhus ska ha lättare skador enligt polisen.",
    svgoutputfilename = "${tempdir}/testset-sweden-bil-slungades.svg.gz"
  }
);
