h1 {
	background: #eee;
}

h2 {
	background: #eee;
}

h3 {
	color: #333;
}

img {
	margin: 0px;
	padding: 0px;
}

/* Disable extra tiles even if in HTML code */
img.extratile {
	display: none;
}

table {
	border-collapse: separate;
	border-spacing: 2em;
}
